@charset "utf-8";
.container-sm {
	display:flex;
	flex-direction: column;
	flex-basis: auto;
	justify-content: center;
	border-radius: 7px;
	background-color: #7E7E7E;
	padding: 10px;
}
.navbar {
	border-radius: 7px;
}
.img1 {
	width: 30px;
	height: 30px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#main {
	padding:8px;
}
.open {
	font-size: 17px;
	cursor: pointer;
}
.logincont {
	padding-top: 10px;
	
}
.imgteamwork{
	justify-content: center;
	width: 50%;
	height: 50%;
	border-radius: 7px;
}
.contactus {
	font-size: 20px;
	padding-top: 20px;
}
.submit {
	background-color: #000000;
}